name: CI

on:
  push:
  pull_request:

jobs:
  build-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: "1.22"
      - name: Go fmt
        run: test -z "$(gofmt -l .)"
      - name: Go vet
        run: go vet ./...
      - name: Go test
        run: go test ./...
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v6
        with:
          version: v1.56
      - name: Docker build
        run: docker build -f deploy/docker/cortex/Dockerfile .
